!!!5
html
  head
    title= pageTitle
    link(href='http://fonts.googleapis.com/css?family=Voces', rel='stylesheet', type='text/css')
    if preview
      script(src='/stalk.js')
    != masher.style('common')
    if !preview
      include analytics
  body
    div#toc
    if user && repo
      a(href="http://github.com/#{user}/#{repo}")
        img(style="position: absolute; top: 0; right: 0; border: 0;",src="dist/images/ribbon.png",alt="Fork me on GitHub")
    div#wrapper
      != body
    != masher.script('common')
    if user && repo
      script
        var ghInfo = $('<div/>').hubInfo({ 
          user: '#{user}',
          repo: '#{repo}'
        }).on('render', function() {
          $('<a href="https://twitter.com/share" class="twitter-share-button" data-via="JGAui">Tweet</a>').insertAfter('.repo-forks');
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        });
        $('h2:eq(0)').before(ghInfo);
    script
      $('#toc').toc();
